@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* General Style */
html {
  font-size: 16px;
}
:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --font-overpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  width: 100%;
}
button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--font-ubuntu);
}
ul {
  list-style: none;
}
.drop-down ul li {
  display: flex;
}
.arrow-light {
  margin-left: 0.3rem;
  width: 0.6rem;
  height: 1rem;
}
/* Navigation */
nav {
  background-color: var(--light-red);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 1rem;
}
.hamburger-menu {
  justify-self: end;
  align-self: center;
}
.logo {
  width: 5rem;
  align-self: center;
}
.nav-menu {
  display: none;
}

/* Intro */
.intro {
  text-align: center;
  padding: 5rem 1rem;
  padding-bottom: 8rem;
  font-family: var(--font-overpass);
  background-color: var(--light-red);
  color: var(--text);
  border-radius: 0 0 0 5rem;
}
.intro h1 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.intro p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.white-bg {
  color: var(--light-red);
  border: 1px solid var(--text);
}
.white-bg:hover {
  background-color: var(--very-light-red);
  color: var(--text);
  border: 1px solid var(--very-light-red);
}
.redish-bg {
  background-color: var(--light-red);
  border: 1px solid var(--text);
  color: var(--text);
}
.redish-bg:hover {
  background-color: var(--text);
  color: var(--light-red);
}
/* Design */
.design {
  text-align: center;
  padding: 0 1rem;
}
.design h2 {
  padding: 5rem 0;
  color: var(--very-dark-blue);
  font-size: 1.8rem;
}
.design h4 {
  padding: 2rem 0;
  color: var(--very-dark-blue);
  font-size: 1.8rem;
}
.design p {
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
}
.illustration-desktop {
  display: none;
}
.design-large {
  display: none;
}
/* state */
.state-section {
  text-align: center;
}
.state-section-lg {
  display: none;
}
.phone {
  height: 25rem;
  margin-bottom: -12.5rem;
}
.state {
  background-color: var(--very-dark-blue);
  background-image: url(./images/bg-pattern-circles.svg);
  background-size: contain;
  background-position: center -5rem;
  background-repeat: no-repeat;
  padding: 0 1rem;
  padding-top: 12.5rem;
  border-radius: 0 5rem 0 5rem;
}
.state p {
  color: var(--text);
  padding-bottom: 4rem;
  line-height: 1.5;
}
.state h2 {
  padding: 3rem 0;
  color: var(--text);
  font-size: 1.8rem;
}
.laptop {
  padding: 1rem 0;
}
.pb {
  padding-bottom: 5rem;
}
/* footer */
footer {
  background-color: var(--very-dark-black-blue);
  display: grid;
  border-radius: 0 5rem 0 0;
  text-align: center;
  margin-top: 3rem;
}
.logo-footer {
  width: 5rem;
  justify-self: center;
  padding: 2rem 0;
}
.logo-footer-small {
  display: none;
}
.footer-menu {
  color: var(--footer-text);
  justify-self: center;
}
.product ul {
  list-style: none;
}
.product ul li {
  padding: 0.2rem 0;
}
.product h3 {
  padding: 1rem 0;
}
.header-design {
  display: none;
}
@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  nav {
    grid-template-columns: max-content auto;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--text);
    padding-left: 2rem;
  }
  .drop-down-title {
    display: flex;
    margin-right: 1rem;
  }
  .dropdown ul {
    display: flex;
    position: relative;
  }
  .dropdown ul li {
    flex-direction: row;
  }

  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content1 a {
    color: var(--very-dark-grayish-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content1 a:hover {
    color: black;
  }

  .dropbtn-1:hover .dropdown-content {
    display: block;
  }

  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content2 a {
    color: var(--very-dark-grayish-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content2 a:hover {
    color: black;
  }

  .dropdown:hover .dropdown-content2 {
    display: block;
  }

  .dropdown:hover .dropbtn {
    text-decoration: underline;
  }
  .btn-reg {
    justify-self: end;
  }
  .login {
    background-color: transparent;
    color: var(--text);
  }
  .design {
    display: none;
  }
  .design-large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 0 5rem 5rem;
  }
  .header-design {
    display: block;
    margin: 0 auto;
    padding: 3rem;
    margin-bottom: -10rem;
    text-align: center;
  }
  .design-large h4 {
    padding-bottom: 2rem;
    color: var(--very-dark-black-blue);
  }
  .design-text {
    padding-top: 3.5rem;
  }
  .design-large p {
    padding-bottom: 2.5rem;
    color: var(--very-dark-blue);
    line-height: 1.5;
  }
  .illustration-mobile {
    display: none;
  }
  .illustration-desktop {
    display: block;
  }
  /* .state {
    padding-top: 0.1rem;
    background-size: contain;
    background-position: left -5rem;
    border: 2px solid rgb(217, 255, 0);
    margin: 0rem;
  }
  .state h2,
  .state p {
    border: 2px solid blue;
    padding-left: 25rem;
    margin-right: 3rem;
    text-align: start;
  }
  .phone {
    width: 380px;
    margin-bottom: -20rem;
  } */
  .state-section {
    display: none;
  }
  .state-section-lg {
    display: block;
    background-color: var(--very-dark-blue);
    background-image: url(./images/bg-pattern-circles.svg);
    background-size: contain;
    background-position: left -9rem;
    background-repeat: no-repeat;
    padding: 0 1rem;
    padding-top: 2rem;
    border-radius: 0 5rem 0 5rem;
  }
  .state-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
  }
  .state-lg {
    margin: 2rem;
    color: var(--text);
    line-height: 1.5;
  }
  .state-lg p{
    padding-top: 1.8rem;
  }
  .phone-lg img {
    /* border: 2px solid gold; */
    margin-top: -10rem;
    height: 30rem;
    width: 30rem;
  }
  .free {
    display: grid;
  }
  footer {
    padding: 1rem 2rem;
    text-align: start;
  }
  .logo-footer {
    display: none;
  }
  .logo-footer-small {
    display: block;
    justify-self: start;
    width: 5rem;
    margin: 0 3rem;
  }
  .footer-menu {
    display: flex;
  }
  .product {
    padding: 0 2rem;
  }
}
