@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* General Style */
html {
  font-size: 16px;
}
:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --font-overpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  width: 100%;
}
button {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--font-ubuntu);
}
/* Navigation */
nav {
  background-color: var(--light-red);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 1rem;
}
.menu {
  justify-self: end;
  align-self: center;
}
.logo {
  width: 5rem;
  align-self: center;
}
/* Intro */
.intro {
  text-align: center;
  padding: 5rem 1rem;
  padding-bottom: 8rem;
  font-family: var(--font-overpass);
  background-color: var(--light-red);
  color: var(--text);
  border-radius: 0 0 0 5rem;
}
.intro h1 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.intro p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.white-bg {
  color: var(--light-red);
  border: 1px solid var(--text);
}
.white-bg:hover {
  background-color: var(--very-light-red);
  color: var(--text);
  border: 1px solid var(--very-light-red);
}
.redish-bg {
  background-color: var(--light-red);
  border: 1px solid var(--text);
  color: var(--text);
}
.redish-bg:hover {
  background-color: var(--text);
  color: var(--light-red);
}
/* Design */
.design {
  text-align: center;
  padding: 0 1rem;
}
.design h2 {
  padding: 5rem 0;
  color: var(--very-dark-blue);
  font-size: 1.8rem;
}
.design h4 {
  padding: 2rem 0;
  color: var(--very-dark-blue);
  font-size: 1.8rem;
}
.design p {
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
}
/* state */
.state-section {
  text-align: center;
}
.phone {
  height: 25rem;
  margin-bottom: -12.5rem;
}
.state {
  background-color: var(--very-dark-blue);
  background-image: url(./images/bg-pattern-circles.svg);
  background-size: contain;
  background-position: center -5rem;
  background-repeat: no-repeat;
  padding: 0 1rem;
  padding-top: 12.5rem;
  border-radius: 0 5rem 0 5rem;
}
.state p {
  color: var(--text);
  padding-bottom: 4rem;
  line-height: 1.5;
}
.state h2 {
  padding: 3rem 0;
  color: var(--text);
  font-size: 1.8rem;
}
.laptop{
  padding: 1rem 0;
}
.pb{
  padding-bottom: 5rem;
}
/* footer */
footer{
  background-color: var(--very-dark-black-blue);
  display: grid;
  border-radius: 0 5rem 0 0;
  text-align: center;
}
.logo-footer{
  width: 5rem;
  justify-self: center;
  padding: 2rem 0;
}
.footer-menu{
  color: var(--footer-text);
  justify-self: center;
}
.product ul {
  list-style: none;
}
.product ul li{
  padding: .2rem 0 
}
.product h3{
  padding: 1rem 0;
}